.E{
  background-color: #FDF2EC;
  
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
    margin: 0;
}
.K{
 text-align: center;
}



.P{
 
  color:  #8247FF;

 font-size: 20px;
 background-color: white;
 
  border-radius: 8px;
}


.D{
  text-align: center;
  --framer-text-color: var(--token-d23dd5a9-b486-4fa3-8394-2cd7943f28da, rgb(7, 6, 27));
  font-size: 68px;
}
.C{
 
  font-size: 68px;
  color: rgb(254, 129, 98);
}


.F{

      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: -.5px;
      line-height: 1.5em;
     text-align: center;
     align-items: center;
      color: var(--token-c2cb5cfb-ae03-498f-bf71-8ab828c3e13b, #767575);
      text-decoration: none;
      text-transform: none;
}
.G{
  font-size: 25px;
    background-color: var(--token-8d3b0b5c-ed9a-45d2-b302-4c9cef737fdc, rgb(130, 71, 255));
    color: white;
    opacity: 1;
    border-radius: 18px;
    box-shadow: none;
    padding: 16px 26px;
    --font-selector: R0Y7T3V0Zml0LTYwMA==;
    --framer-font-family: "Outfit", sans-serif;
    --framer-font-size: 20px;
    --framer-font-weight: 600;
    --framer-text-color: var(--extracted-r6o4lv);
margin: 30px;
}

.H{
  padding: 30px;
  font-size: 25px;
  padding: 16px 26px;
  border-bottom-width: 1px;
  --border-color: rgba(221, 217, 212, 1);
  --border-left-width: 1px;
  --border-right-width: 1px;
  --border-style: solid;
  --border-top-width: 1px;
  background-color: var(--token-20257545-130a-452b-8942-48d79a1f3d66, rgb(255, 255, 255));
  height: 100%;
  opacity: 1;
  border-radius: 18px;
  margin: 30px; 
}








.I{
  
  text-align: center;
  align-items: center;
}

.Im

{
 
  align-items: center;
height: 25px;
width: 25px;
}
.G:hover {
  background: rgb(81, 87, 203);
  cursor: pointer;
  border: 1px solid var(--orange);

}
.H:hover {
  background: rgb(197, 199, 235);
  cursor: pointer;
  border: 1px solid var(--orange);

}

/* Media Queries */
@media screen and (max-width: 768px) {
  .E {
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .E {
    padding: 15px;
    flex-direction: column;
  }

  .G,
  .H {
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px;
  }
}


.image-container {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}
